

#map { height: 100%; }

.center {text-align: center;}

.mobileMenu {
    padding: 1em;
}

.btn-lg {
    font-size: 3em;
}


.popupData {
    border-spacing: 5px;
    border: 1px solid lightgray;
    padding: .5em;
    font-size: .75em;
    width: auto;
    line-height: .5em;
}
    


